Package: com.chr1s.tapflash
Name: TapFlash
Version: 3.3.0-roothide
Architecture: iphoneos-arm64e
Description: Double-click play/pause and triple-click flashlight through an on-demand RootHide helper.
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate
