Package: com.chr1s.tapflash
Name: TapFlash
Version: 3.1.0-roothide
Architecture: iphoneos-arm64e
Description: Double-click play/pause and triple-click flashlight through a RootHide helper service.
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate
