Package: com.moxuan1121.rightstatusshot
Name: RightStatusShot
Version: 0.1.0-roothide
Architecture: iphoneos-arm64e
Description: Swipe right within the right third of the status bar for a system screenshot. Experimental.
Maintainer: moxuan1121
Author: moxuan1121
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0)
